body {
	margin: 0;
	padding: 0;
	font-family: monospace;
}
#piano {
	width: 833px;
	height: auto;
	box-shadow: 0px 0px 30px black;
	margin: 200px auto;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 3px solid black;
	width: 10px;
	height: 240px;
	padding: 20px;
}
.darkNote {
	padding: 20px;
	height: 150px;
	background-color: black;
	position: relative;
	left: 41px;
	top: -37px;
}
.noNote {
	padding: 20px;
	height: 150px;
	background-color: transparent;
	position: relative;
	left: 41px;
	top: -45px;
	z-index: -2;
}
.note {
	animation-duration: 0.5s;
	animation-name: note;
}
.noteDark {
	animation-duration: 0.5s;
	animation-name: noteDark;
}
.letter {
	position: relative;
	left: 16px;
	top: 30px;
}
.darkLetter {
	color: white;
	position: absolute;
	left: 16px;
	bottom: 8px;
}

@keyframes note {
	0%   {background-color: white;}
	50%  {background-color: #E75252;}
	100% {background-color: white;}
}
@keyframes noteDark {
	0%   {background-color: black;}
	50%  {background-color: #E75252;}
	100% {background-color: black;}
}